* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}

button {
  font-family: inherit;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1550px;
  margin: 0 auto;
}

.btn {
  display: block;
  background-color: #f93264;
  border: none;
  color: #fff;
  font-size: 17px;
  line-height: 1.4;
  padding: 9px 41px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.btn:hover {
  background-color: #ff0000;
}

.title {
  font-size: 38px;
  line-height: 1.44;
  font-weight: 600;
  color: #00213C;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #fa3465;
  width: 41px;
  height: 41px;
  border-radius: 50%;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff;
  font-size: 25px;
}

.swiper-pagination-bullet {
  background-color: #d2d1d1;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-color: #00C280;
}

.header {
  padding-top: 52px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__btn {
  padding: 9px 16px;
}

.nav {
  margin-right: 74px;
  margin-left: auto;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__item:not(:last-child) {
  margin-right: 58px;
}
.menu__link {
  font-size: 17px;
  line-height: 1.4;
  font-weight: 500;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu__link:hover {
  color: #ff0000;
}

.intro {
  padding: 17px 0 98px;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/intro/intro-bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.intro__title {
  font-size: 96px;
  line-height: 1.43;
  max-width: 979px;
  text-align: center;
  text-transform: uppercase;
}
.intro__subtitle {
  margin-top: 81px;
  font-size: 38px;
  line-height: 1.15;
  font-weight: 600;
  color: #00213c;
  text-align: center;
  max-width: 829px;
}
.intro__text {
  line-height: 1.4;
  font-weight: 500;
  color: #152836;
  max-width: 572px;
  text-align: center;
  margin-top: 21px;
}
.intro__descr {
  font-size: 17px;
  line-height: 1.4;
  max-width: 708px;
  text-align: center;
  margin-top: 12px;
}
.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
}
.intro__trial {
  font-size: 17px;
  line-height: 1.4;
  color: #595858;
  padding: 0 35px;
}

.txt-black {
  margin-top: 139px;
}

.txt-light {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  margin-top: -215px;
  margin-left: -208px;
}

.hamburger {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 10%;
  right: 10%;
  height: 21px;
  cursor: pointer;
}
.hamburger span {
  display: block;
  width: 26px;
  height: 3px;
  background: #fa3465;
  margin-bottom: 5px;
}
.hamburger__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.hamburger__menu.active {
  right: 0;
  visibility: visible;
  opacity: 1;
}
.hamburger__inner {
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  background-color: rgba(59, 56, 56, 0.5);
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 10;
}
.hamburger__close {
  display: inline-block;
  margin-bottom: 40px;
}
.hamburger__close svg {
  cursor: pointer;
}
.hamburger__item {
  margin-bottom: 30px;
}
.hamburger__link {
  color: #fff;
}

.info {
  position: relative;
  padding: 90px 0 115px;
}
.info__figure {
  position: absolute;
  right: 0;
  top: -61px;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -10;
}
.info__subtitle {
  max-width: 797px;
  margin-top: 13px;
}
.info__subtitle span {
  color: #0088fe;
}
.info__text {
  font-size: 28px;
  line-height: 1.42;
  font-weight: 600;
  max-width: 1155px;
  color: #22303b;
  margin-top: 54px;
  margin-bottom: 85px;
}
.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 123px;
}
.info__item:nth-child(2) {
  margin-top: -180px;
}
.info__item:not(:last-child) {
  margin-bottom: 60px;
}
.info__box {
  position: relative;
}
.info__descr {
  position: absolute;
  bottom: -45px;
  right: 0;
  background-color: #fff;
  max-width: 460px;
  padding: 9px 16px 21px;
}
.info__descr-title {
  font-size: 28px;
  line-height: 1.42;
  color: #fa3465;
}

.lesson {
  padding: 90px 0 124px;
  background-color: #fa3465;
  background-image: url("../img/lesson/lesson-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.lesson__title {
  color: #fff;
  margin-bottom: 65px;
}
.lesson__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px 171px;
  margin-bottom: 81px;
}
.lesson__item {
  max-width: 392px;
}
.lesson__number {
  font-family: "Kalam", cursive;
  font-size: 36px;
  line-height: 1.58;
  color: #260e4d;
}
.lesson__text {
  font-size: 26px;
  line-height: 1.4;
  color: #fff;
  max-width: 392px;
}
.lesson__text span {
  font-weight: 500;
  color: #260e4d;
}
.lesson__descr {
  max-width: 1027px;
  font-size: 26px;
  line-height: 1.42;
  color: #fff;
}
.lesson__brushes {
  position: absolute;
  bottom: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title-mb {
  margin-bottom: 36px;
}

.people {
  padding-bottom: 90px;
  position: relative;
}
.people__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.people__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 61px;
  margin-bottom: 121px;
  margin-top: -25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.people__item {
  margin-bottom: 10px;
}
.people__item:nth-child(2) {
  margin-top: -45px;
}
.people__box {
  position: relative;
}
.people__descr {
  position: absolute;
  bottom: -70px;
  left: 0;
  background-color: #fff;
  max-width: 443px;
  padding: 9px 33px 21px 16px;
}
.people__descr-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.45;
  color: #00213c;
  margin-bottom: 6px;
  max-width: 426px;
}
.people__descr-text {
  font-size: 17px;
  line-height: 1.41;
  color: #ea557b;
  max-width: 392px;
}
.people__title {
  max-width: 731px;
  text-align: center;
  max-width: 731px;
  margin-bottom: 21px;
}
.people__text {
  font-weight: 500;
  max-width: 855px;
  text-align: center;
  margin-bottom: 31px;
}
.people__subtext {
  max-width: 682px;
  text-align: center;
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 35px;
}
.people__figure {
  position: absolute;
  left: 0;
  bottom: -40px;
}

.workshop {
  padding: 90px 0 63px;
  position: relative;
}
.workshop__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.workshop__content {
  max-width: 819px;
}
.workshop__title {
  margin-bottom: 52px;
  z-index: 4;
}
.workshop__maintext {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 23px;
  padding-left: 82px;
}
.workshop__subtext {
  max-width: 626px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 82px;
}
.workshop__subtext span {
  font-weight: 600;
  color: #0088fe;
}
.workshop__text {
  font-weight: 500;
  padding-left: 82px;
}
.workshop__text:not(:last-child) {
  margin-bottom: 10px;
}
.workshop__text:last-child {
  margin-bottom: 50px;
}
.workshop__pic {
  border: 2px solid #fdc812;
  height: 733px;
  width: 582px;
  position: relative;
}
.workshop__img {
  position: absolute;
  top: -50px;
  left: 37px;
  -o-object-fit: contain;
     object-fit: contain;
}
.workshop__figure {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: -14;
}

.video {
  padding: 105px 0;
  position: relative;
}
.video__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  z-index: 15;
}
.video__video iframe {
  padding: 20px;
  border: 2px solid #7538ff;
}
.video__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2px;
}
.video__item {
  z-index: 14;
}
.video__item:nth-child(even) {
  margin-top: 75px;
}
.video__figure-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -14;
  -o-object-fit: contain;
     object-fit: contain;
}
.video__figure-2 {
  position: absolute;
  left: 0;
  bottom: 13px;
  z-index: -15;
  -o-object-fit: contain;
     object-fit: contain;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

.course {
  padding: 90px 0 52px;
}
.course__title {
  font-size: 38px;
  line-height: 1.44;
  font-weight: 600;
  color: #00213c;
  margin-bottom: 12px;
}
.course__text {
  max-width: 1007px;
  margin-bottom: 26px;
}
.course__subtitle {
  font-size: 38px;
  line-height: 1.44;
  font-weight: 600;
  color: #00213c;
  border-bottom: 1px solid #00213c;
  padding-bottom: 11px;
  margin-bottom: 90px;
}
.course__list {
  margin-bottom: 94px;
}
.course__item:not(:last-child) {
  margin-bottom: 60px;
}
.course__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.course__pic-posleft {
  position: relative;
}
.course__pic-mr {
  margin-right: 23px;
}
.course__pic-posright {
  position: relative;
}
.course__pic-ml {
  margin-left: 150px;
}
.course__img {
  -o-object-fit: cover;
     object-fit: cover;
}
.course__img-right {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -16px;
  left: 42px;
}
.course__img-left {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: -16px;
  right: 41px;
}
.course__content-title {
  font-size: 45px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  background-image: url("../img/intro/intro-bg.png");
  background-position: center -210px;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  margin-bottom: 30px;
}
.course__content-title span {
  padding-left: 110px;
}
.course__content-item {
  margin-bottom: 13px;
}
.course__content-text {
  font-weight: 500;
  max-width: 847px;
  position: relative;
  padding-left: 30px;
}
.course__content-text::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 4px;
  width: 19px;
  height: 19px;
  background-color: #02c382;
  border-radius: 50%;
}
.course__content-next {
  font-weight: 500;
  margin-bottom: 43px;
  padding-left: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.course__content-next:hover {
  color: #ff0000;
}
.course__content-arrow {
  margin-left: 8px;
}
.course__content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.course__content-price {
  font-size: 30px;
  line-height: 1.43;
  margin-right: 20px;
}
.course__trial-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  margin-bottom: 22px;
}
.course__trial-btn {
  display: block;
  font-size: 17px;
  line-height: 1.41;
  padding: 9px 34px;
  color: #ffffff;
  background-color: #0089fd;
  border: none;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
  margin: 0 auto;
}
.course__trial-btn:hover {
  background-color: #00ffff;
  color: #10A5F5;
}
.course__subtitle-tematic {
  padding-top: 90px;
}

.review {
  position: relative;
  padding: 90px 0 141px;
}
.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
  padding-top: 298px;
  padding-bottom: 54px;
}
.review__item:nth-child(2) {
  margin-top: -213px;
}
.review__figure {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -14;
}

.work {
  position: relative;
  padding-bottom: 187px;
}
.work__title {
  margin-bottom: 89px;
}
.work__wrapper {
  display: grid;
  gap: 12px;
}
.work__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.work__box:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
}
.work__box:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.work__box:nth-child(3) {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.work__box:nth-child(4) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}
.work__box:nth-child(5) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 6;
}
.work__box:nth-child(6) {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}
.work__box:nth-child(7) {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}
.work__box:nth-child(8) {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}
.work__box:nth-child(9) {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
}
.work__box:nth-child(10) {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 5;
  grid-column-end: 6;
}
.work__figure {
  position: absolute;
  left: 0;
  bottom: 0;
}
.work__circle-1 {
  position: absolute;
  left: 0;
  bottom: 530px;
}
.work__circle-2 {
  position: absolute;
  right: 0;
  bottom: 515px;
}
.work__circle-3 {
  position: absolute;
  left: 550px;
  bottom: 110px;
}

.question {
  padding: 90px 0 144px;
}
.question__title {
  margin-bottom: 61px;
}
.question__accordion {
  margin-bottom: 134px;
}
.question__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 26px;
  line-height: 1.42;
  font-weight: 500;
  padding: 25px 0;
  border-bottom: 1px solid #000;
  cursor: pointer;
}
.question__union {
  display: block;
  margin-left: 10px;
}
.question__content {
  max-height: 0;
  opacity: 0;
  display: block;
  overflow: hidden;
  font-weight: 500;
}
.question__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 500;
  margin-bottom: 35px;
}
.question__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.question__course {
  font-size: 17px;
  line-height: 1.41;
  color: #595858;
  text-align: center;
  padding: 9px 35px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.question__course:hover {
  color: #ff0000;
}

.active-style {
  font-weight: 600;
  color: #e950d7;
}

.active-content {
  overflow: visible;
  opacity: 1;
  padding: 25px 0;
  border-bottom: 1px solid #000;
}

.footer-info {
  padding: 63px 0 100px;
  background-color: #1789ed;
}
.footer-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer-info__content {
  margin-right: 10px;
}
.footer-info__pic {
  margin-bottom: 73px;
}
.footer-info__item {
  color: #ffffff;
}
.footer-info__item:not(:last-child) {
  margin-bottom: 22px;
}
.footer-info__colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-info__color:not(:last-child) {
  margin-right: 20px;
}
.footer-info__circle {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.footer-info__orange {
  background-color: #f8bc18;
}
.footer-info__green {
  background-color: #00c280;
}
.footer-info__blue {
  background-color: #7538ff;
}
.footer-info__red {
  background-color: #f83460;
}
.footer-info__title {
  text-align: center;
  font-size: 26px;
  line-height: 1.42;
  color: #fff;
  font-weight: 400;
  margin-bottom: 7px;
}

@media (max-width: 1280px) {
  .txt-black {
    margin-top: 84px;
  }

  .txt-light {
    margin-top: -172px;
    margin-left: -128px;
  }

  .intro__title {
    font-size: 79px;
  }
}
@media (max-width: 1024px) {
  .nav {
    margin-right: 20px;
  }

  .intro__title {
    font-size: 57px;
  }
  .intro__subtitle {
    margin-top: 74px;
    font-size: 35px;
  }
  .intro__item:not(:last-child) {
    margin-right: 30px;
  }

  .menu {
    margin-right: 30px;
  }
  .menu__item:not(:last-child) {
    margin-right: 45px;
  }

  .txt-black {
    margin-top: 55px;
  }

  .txt-light {
    margin-top: -135px;
    margin-left: -80px;
  }

  .intro__subtitle {
    margin-top: 50px;
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
    top: 10%;
    right: 10%;
  }

  .menu {
    display: none;
  }

  .header__btn {
    display: none;
  }

  .intro__title {
    font-size: 45px;
  }

  .txt-black {
    margin-top: 49px;
  }

  .txt-light {
    display: none;
  }

  .intro__text {
    font-size: 17px;
  }
}
@media (max-width: 435px) {
  .intro__title {
    font-size: 35px;
  }
  .intro__btn {
    padding: 9px 20px;
  }
  .intro__trial {
    font-size: 15px;
  }

  .txt-black {
    margin-top: 30px;
  }
}
@media (max-width: 320px) {
  .intro {
    padding: 17px 0 46px;
  }
  .intro__title {
    font-size: 23px;
  }
  .intro__subtitle {
    margin-top: 31px;
    font-size: 18px;
  }
  .intro__text {
    font-size: 14px;
  }
  .intro__descr {
    font-size: 12px;
  }
  .intro__trial {
    font-size: 15px;
    padding: 0 12px;
  }
  .intro__btn {
    padding: 0 29px;
  }

  .txt-black {
    margin-top: 20px;
  }
}
@media (max-width: 1280px) {
  .info {
    padding: 17px 0 58px;
  }
  .info__list {
    margin-top: 60px;
  }
  .info__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .info {
    padding: 17px 0 58px;
  }
  .info__list {
    margin-top: 60px;
  }
  .info__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .info__text {
    margin-bottom: 60px;
    font-size: 23px;
  }

  .info__list {
    margin-top: 35px;
  }

  .title {
    font-size: 32px;
  }
}
@media (max-width: 435px) {
  .info__text {
    margin-bottom: 35px;
  }

  .info__descr {
    position: relative;
  }

  .title {
    font-size: 28px;
  }
}
@media (max-width: 320px) {
  .info__text {
    max-width: 267px;
  }
  .info__subtitle span {
    color: #fff;
  }
  .info__descr-title {
    font-size: 24px;
  }
  .info__descr-text {
    font-size: 18px;
  }
}
@media (max-width: 1280px) {
  .lesson__descr {
    max-width: 800px;
  }
}
@media (max-width: 1024px) {
  .lesson__title {
    margin-bottom: 45px;
  }
  .lesson__text {
    font-size: 20px;
  }
  .lesson__descr {
    max-width: 500px;
  }
  .lesson__brushes {
    max-width: 240px;
  }
}
@media (max-width: 768px) {
  .lesson {
    padding: 35px 0 124px;
  }
  .lesson__title {
    margin-bottom: 20px;
  }
  .lesson__brushes {
    max-width: 145px;
  }
}
@media (max-width: 500px) {
  .lesson__brushes {
    max-width: 110px;
  }
}
@media (max-width: 320px) {
  .lesson__list {
    margin-bottom: 40px;
  }

  .lesson__descr {
    font-size: 17px;
  }
}
@media (max-width: 1549px) {
  .people__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 1024px) {
  .people {
    padding-bottom: 35px;
  }
  .people__list {
    margin-bottom: 85px;
  }
  .people__item:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .people__item:nth-child(2) {
    margin-top: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .people__item:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .people__figure {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .people .people__item:nth-child(2) {
    margin-top: 0;
  }
  .people__text {
    font-size: 18px;
  }
  .people__figure {
    max-width: 106px;
  }
}
@media (max-width: 320px) {
  .people__figure {
    max-width: 65px;
  }
}
@media (max-width: 1556px) {
  .workshop__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1024px) {
  .workshop__pic {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .workshop__subtext {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .workshop__figure {
    left: -88px;
  }
}
@media (max-width: 630px) {
  .workshop__maintext, .workshop__subtext, .workshop__text {
    padding-left: 0;
  }
  .workshop__pic {
    height: 500px;
    width: 415px;
  }
  .workshop__img {
    height: 500px;
  }
}
@media (max-width: 480px) {
  .workshop {
    padding-bottom: 0;
  }
  .workshop__pic {
    border: none;
  }
  .workshop__img {
    top: 0;
    right: 0;
    width: 300px;
  }
  .workshop__text {
    font-size: 17px;
  }
  .workshop__text:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .video {
    padding: 50px 0;
  }
}
@media (max-width: 432px) {
  .video__item:nth-child(even) {
    margin-top: 0;
  }
}
@media (max-width: 1280px) {
  .course__item:nth-child(2) .course__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .course__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .course__content-title span {
    padding-left: 35px;
  }
  .course__content-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .course__content-next {
    padding-left: 0;
    text-align: center;
  }
  .course__pic {
    margin-bottom: 10px;
  }
  .course__pic-mr {
    margin-right: 0px;
  }
  .course__pic-ml {
    margin-left: 0px;
  }
  .course__img-right {
    bottom: 38px;
    left: 25px;
  }
  .course__img-left {
    bottom: 38px;
    right: 25px;
  }
}
@media (max-width: 1024px) {
  .course__content-title {
    text-align: center;
  }
}
@media (max-width: 786px) {
  .course {
    padding-bottom: 20px;
  }
  .course__subtitle-tematic {
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  .course__content-title {
    font-size: 28px;
  }
  .course__list {
    margin-bottom: 25px;
  }
}
@media (max-width: 400px) {
  .course__content-title span {
    padding-left: 0;
  }
}
@media (max-width: 768px) {
  .review {
    padding-top: 35px;
    padding-bottom: 30px;
  }
  .review__list {
    padding-top: 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review__item:nth-child(2) {
    margin-top: 0;
  }
}
@media (max-width: 1570px) {
  .work__circle-1 {
    display: none;
  }
}
@media (max-width: 1024px) {
  .work__circle-1 {
    left: -130px;
  }
  .work__circle-2 {
    display: none;
  }
  .work__circle-3 {
    left: 328px;
  }
  .work__figure {
    bottom: 85px;
  }
  .work__box:nth-child(5) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .work__box:nth-child(10) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}
@media (max-width: 768px) {
  .work {
    padding-bottom: 150px;
  }
  .work__title {
    margin-bottom: 50px;
  }
  .work__box:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .work__box:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .work__box:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .work__box:nth-child(4) {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .work__box:nth-child(5) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .work__box:nth-child(6) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .work__box:nth-child(7) {
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .work__box:nth-child(8) {
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .work__box:nth-child(9) {
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .work__box:nth-child(10) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .work__circle-3 {
    left: 248px;
    width: 100px;
  }
  .work__figure {
    bottom: 120px;
  }
}
@media (max-width: 320px) {
  .work__circle-3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .question {
    padding: 5px 0 55px;
  }
  .question__title {
    margin-bottom: 25px;
  }
  .question__accordion {
    margin-bottom: 90px;
  }
  .question__text {
    font-size: 19px;
  }
}
@media (max-width: 461px) {
  .question__btn {
    padding: 9px 18px;
  }
  .question__course {
    padding: 9px 20px;
  }
}